<div class="mainContent">



    <section class="container-fluid px-0">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div id="headingGroup" class="text-white text-center d-none d-lg-block mt-10">
                    <h1 class="">INVESTO<span>/</span>SIM</h1>
                    <h1 class="">INVESTO<span>/</span>SIM</h1>
                    <h1 class="">INVESTO<span>/</span>SIM</h1>
                    <h1 class="">INVESTO<span>/</span>SIM</h1>
                    <h1 class="">INVESTO<span>/</span>SIM</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="home-images/home-1-annie-nygard.jpg" alt="" style="height: 600px;">
            </div>
        </div>
    </section>

    <section class="container-fluid px-0">
        <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
                <img src="home-images/home-2-stephen-dawson.jpg" alt="" class="img-fluid" style="height: 40rem;">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>InvestoSim</h2>
                        <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" fill="whitesmoke"
                            class="bi bi-cash-stack d-none d-lg-inline" viewBox="0 0 16 16">
                            <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                            <path
                                d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2z" />
                        </svg>
                        <p class="lead" style="">
                            Stay informed with up-to-the-minute market data. Our platform provides live quotes,
                            charts, and updates so you can make informed trading decisions.
                        </p>
                    </div>
                    <!-- Photo by <a
                        href="https://unsplash.com/@behy_studio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Behnam
                        Norouzi</a> on <a
                        href="https://unsplash.com/photos/black-flat-screen-computer-monitor-mp11_hrQXf8?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> -->
                </div>
            </div>
        </div>
        <div class="row align-items-center content" id="last-item-home">
            <div class="col-md-6 text-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>InvestoSim</h2>
                        <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" fill="whitesmoke"
                            class="bi bi-wallet d-none d-lg-inline" viewBox="0 0 16 16">
                            <path
                                d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a2 2 0 0 1-1-.268M1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1" />
                        </svg>
                        <p class="lead">Practice your trading strategies with our intuitive buy and sell features.
                            Simulate trades in real-time and track your portfolio without risking real money.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="home-images/home-3-jamie-street.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
                <img src="home-images/home-4-jakub-zerdzicki.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>InvestoSim</h2>
                        <!-- <img src="imgs/cover-concept-main-1.jpg" alt="" class="d-none d-lg-inline"> -->
                        <p class="lead">Navigate through stocks with ease using our powerful search tools.
                            Access detailed stock information, historical data, and performance metrics.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center content" id="last-item-home">
            <div class="col-md-6 text-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>InvestoSim</h2>
                        <p class="lead">Enjoy a clean, modern design that's easy to use. Whether you're a beginner or an
                            experienced trader, our platform is designed to make your trading experience smooth and
                            enjoyable.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="home-images/home-4.jpg" alt="" class="img-fluid">
            </div>
        </div>

    </section>

</div>